# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Publish

on:
  push:
    branches: [ Stable ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - ideaVersion: 2022.2.1
            gkVersion: 2021.1.2
          - ideaVersion: 2022.3.1
            gkVersion: 2021.1.2
          - ideaVersion: 2023.1.1
            gkVersion: 2021.1.2
          - ideaVersion: 2023.2.1
            gkVersion: 2021.1.2
          - ideaVersion: LATEST-EAP-SNAPSHOT
            gkVersion: 2021.1.2

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      env:
        IDEA_VERSION: ${{ matrix.ideaVersion }}
        GRAMMAR_KIT_VERSION: ${{ matrix.gkVersion }}
        IDEA_SOURCES: false
        JI_CHANNELS: Stable
        JI_TOKEN: ${{ secrets.JI_TOKEN }}
      run: xvfb-run ./gradlew publishPlugin
